/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #303030;
    /* Dark background */
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #008ed4, #0090d3, #0071a4);
    /* Blue gradient */
    border-radius: 6px;
}

/* For Internet Explorer and Edge */
body {
    scrollbar-face-color: #008ed4;
    /* Blue scrollbar */
    scrollbar-track-color: #303030;
    /* Dark background */
}

div.sectioncontainer {
    background-color: #444;
}

.sectioncontainer .sectionheading {
    color: white;
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

.w3-table td {
    cursor: pointer;

}

.w3-table td:hover {
    color: #008ed4;
}

h1 {
    color: #008ed4;
}

h5 {
    font-weight: 200 !important;
    font-size: 1em !important;
}

.mainContainer {
    background-color: #333;
}

.importantstuff {
    font-weight: bolder;
    color: #008ed4;
    font-size: 1.1em;
}